/.database
/attachments
/.hugo_build.lock
/static/
/content
/public/
/resources
/straight/
/hugo/static/
/hugo/content/
/hugo/resources/
/hugo/public/
/inbox
/org/private/
*.aux
*.out
/org/*/*/*.pdf
/org/*/*/*.tex
